
.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #b929d0;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #b929d0;
  border-color: #b929d0;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #2c0a32;
  }
  .logo img {
    filter: invert(1);
  }
}

/* landing */
#home {
  height: 100vh;
}

#sectiona {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 50px 0px 50px;
  /* padding-bottom: 40px; */
  margin-top: 0px;
  margin-bottom: 0px;
  height: 95vh;
}

.Topic {
  line-height: 2.5rem;
  /* margin: auto; */
}
div .stata {
  display: inline;
  color: #fdfcfe;
  background-color: #df31fa;
  padding: 5px;
  border: none;
  border-radius: 8px;
  line-height: 4rem;
  font-size: 16px;
  font-weight: 500;
}
div .statb {
  width: 80%;
  padding-bottom: 20px;
  font-size: 40px;
  line-height: 3rem;
  font-weight: 700;
}
div .statc {
  width: 80%;
  line-height: 1.5rem;
  padding-bottom: 25px;
  font-size: 20px;
}
.swap {
  text-decoration: none;
  background: linear-gradient(to right, #9847ff, #df31fa);
  color: #fafafa;
  margin-right: 24px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  padding: 6px 15px 6px 15px;
  transition: 0.2 ease-in-out;
  font-weight: 500;
}

.swap:hover {
  background: #fdfcfe;
  border-color: #9847ff;
  color: #c239fb;
  border: 1px solid #c239fb;
}
.learn {
  color: #c239fb;
  border: 1px solid #c239fb;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  padding: 6px;
  transition: 0.2 ease-in-out;
  font-weight: 500;
  background-color: transparent !important;
  font-family: 'Titillium Web', sans-serif;
}
.learn:hover {
  /* background: linear-gradient(to left, #9847ff, #df31fa); */
  background: white !important;
  border-color: #9847ff;
  border: 1px solid #c239fb;
}
.frame1 {
  color: black;
  overflow: hidden;
  width: 70%;
}
.frame1 img {
  width: 100%;
  height: 100%;
}
.frame2 {
  color: black;
}

#sectionca {
  height: 90vh;
}
#sectionb{
  height: 100vh;
}
.sectionba {
  padding: 0px 50px 0px 50px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frame2 img {
  height: 400px;
  width: 100%;
  padding: 30px 50px;
  margin-bottom: 50px;
}
#sectionb,
.sectionc {
  text-align: center;
}
#sectionb h2,
.sectionc h2 {
  font-size: 26px;
  font-weight: 700;
}
#sectionb p {
  font-size: 20px;
}

.Topicb,
.Topicc {
  border: 2px solid #c239fb;
  padding: 11px;
  border-radius: 10px;
  margin-bottom: 25px;
  display: inline-block;
}
.sectionc {
  padding-top: 100px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.communityheader {
  font-size: 20px;
  /* font-weight: 500; */
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sectcheader {
  font-size: 35px;
  font-weight: 700;
}
.listing {
  text-align: center;
}
/* .listing ul {
  display: inline-block;
  text-align: left;
}
.listing p {
  font-size: 20px;
  padding-bottom: 15px;
} */
.sectionc li {
  font-size: 18px;
  padding-bottom: 15px;
  list-style: none;
}
.discord {
  font-size: 18px;
  background: linear-gradient(to right, #9847ff, #df31fa);
  color: #fdfcfe;
  padding: 15px;
  border: none;
  border-radius: 12px;
  transition: 0.2 ease-in-out;
  margin-bottom: 25px;
  font-weight: 500;
}
.discord:hover {
  background: #fdfcfe;
  border-color: #9847ff;
  color: #c239fb;
  border: 1px solid #c239fb;
  box-shadow: 0.9px 0.8px #c239fb;
  padding: 20px;
}
@media only screen and (max-width: 650px) {
  .frame1 img {
    width: 70%;
    height: 70%;
  }
  #sectiona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    gap: 40px;
  }
  .frame2 img {
    padding: 30px 20px;
  }

  .sectionc li,
  .sectionc p {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}

/* Reviews */
#review {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Testheading {
  border: 2px solid #c239fb;
  padding: 11px;
  border-radius: 10px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
}
#sectiontest {
  text-align: center;
  margin-top: 3% !important;
}
#sectiontest p {
  font-size: 20px;
  margin-bottom: 30px;
}
.carousel-root {
  width: 80% !important;
  margin: auto !important;
  /* margin-top: 3% !important; */
  margin-bottom: 5% !important;
}

.carousel .slide {
  /* background: #fff !important; */
  color: black;
  height: 100%;
}
#carouse {
  margin-bottom: 25px;
}
#carouse img {
  width: 10% !important;
  border-radius: 50%;
}

.myCarousel {
  background-color: #4a1053 !important;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: none;
  height: 250px;
  border-radius: 15px;
}

.carousel .control-dots {
  display: none !important;
  padding-left: 5px !important;
  outline: 0;
  bottom: 10% !important;
}

.myCarousel h3 {
  color: #fff;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 10px 7px;
  /* padding-top: 15px; */
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 700;
  color: #b5a4b9;
  font-size: 19px;
  padding-bottom: 5px;
}

.myCarousel p {
  font-weight: 600 !important;
  line-height: 29px !important;
  color: #fff;
  font-size: 17px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #ddd;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  /* padding-bottom: 30px; */
}

.myCarousel p:after {
  content: "”";
  color: #ddd;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}
.myCarousel .dots {
  display: none !important;
}
.carousel .control-dots .dot {
  display: none !important;
  /* box-shadow: none !important;
  background: #454545 !important;
  outline: 0; */
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
    margin-bottom: 5% !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}

/* Landing footer */
#footer {
  color: white;
  background-color: #4a1053;
  padding: 20px 50px;
  margin-top: 35px;
}
.footera {
  text-align: center;
  line-height: 2rem;
  border: 2px solid #774b7e;
  border-radius: 5px;
  margin-bottom: 20px;
}
.footera p {
  padding-top: 15px;
  font-size: 20px;
}

.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}

.newslettera,
.subscribe {
  width: 45%;
}
.newslettera {
  line-height: 1.6rem;
  font-size: 16px;
  text-align: left;
}

#form {
  /* color: #7b6e7f; */
  background-color: #f8d6fe;
  display: flex;
  justify-content: space-between;
  padding: 10px 7px;
  border-radius: 5px;
}

#form input {
  /* color: #7b6e7f; */
  background-color: #f8d6fe;
  border: none;
  font-weight: 600 !important;
}

#form button {
  background: linear-gradient(to right, #9847ff, #df31fa);
  padding: 5px;
  border: none;
  color: white;
  border-radius: 5px;
}

.logo2 {
  width: 160px;
  height: 50px;
}
.footerb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 2rem;
  margin-top: 15px;
  /* margin-bottom: 5px; */
}
.h4 {
  font-size: 20px;
  line-height: 3rem;
}

.footerb p {
  font-size: 14px;
  padding-bottom: 10px;
}
.reserved {
  margin-top: 30px;
  color: #7b6e7f;
  text-align: center;
}
.reserved span {
  color: #fff;
  font-size: 20px;
  padding-right: 15px;
}

@media only screen and (max-width: 650px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newslettera,
  .subscribe {
    width: 80%;
  }
  #form {
    padding-left: 5px;
  }
  #form input {
    font-size: 12px;
  }
  #form button {
    width: 40%;
  }
}
@media only screen and (max-width: 350px) {
  .newslettera,
  .subscribe {
    width: 98%;
  }
  #form button {
    width: 70%;
  }
  .reserved {
    text-align: left;
  }
}

@media only screen and (max-width: 500px) {
  .footer-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* learn more */
#Lear {
  padding-bottom: 30px;
  overflow: hidden;
}
#learncard {
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
  margin-top: 30px;
  background-color: #4a1053;
  border: 2px solid #6f187d;
  border-radius: 10px;
}
.learncarda {
  color: #fff;
  padding: 30px;
  text-align: center;
}
.learncarda h3 {
  font-size: 30px;
  font-weight: 700;
}
.learninstruction {
  margin: auto;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 8px;
}

.listing {
  text-align: center;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 10px;
}
.listing ul {
  display: inline-block;
  text-align: left;
}
.listing li {
  font-size: 18px;
  padding-bottom: 28px;
  list-style: none;
}

@media only screen and (max-width: 650px) {
  #learncard li,
  #learncard p {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  #learncard {
    width: 90%;
  }
  .learninstruction {
    width: 80%;
  }
  #learnbtn {
    vertical-align: center;
  }
}
