.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #B929D0;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #B929D0;
  border-color: #B929D0;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #2C0A32;
  }
  .logo img {
    filter: invert(1);
  }
}

/* landing */
#home {
  color: white;
  padding-top: 45px;
}

#section-a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 50px;
  /* padding-bottom: 40px; */
  margin-top: 85px;
  height: 430px;
}

.Topic {
  line-height: 2.5rem;
  color: #fff;
  /* margin: auto; */
}
div .stat-a {
  display: inline;
  color: #7b6e7f;
  background-color: #f8d6fe;
  padding: 5px;
  border: none;
  border-radius: 8px;
  line-height: 4rem;
  font-size: 16px;
  font-weight: 500;
}
div .stat-b {
  width: 80%;
  padding-bottom: 20px;
}
div .stat-c {
  width: 80%;
  line-height: 1.5rem;
  padding-bottom: 25px;
  font-size: 20px;
}
.swap {
  text-decoration: none;
  background: linear-gradient(to right, #9847ff, #df31fa);
  color: white;
  margin-right: 24px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  padding: 6px;
  transition: 0.2 ease-in-out;
  font-weight: 500;
}

.swap:hover {
  background: #fdfcfe;
  border-color: #9847ff;
  color: #c239fb;
  border: 1px solid #c239fb;
}
.learn {
  color: #c239fb;
  border: 1px solid #c239fb;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  padding: 6px;
  transition: 0.2 ease-in-out;
  font-weight: 500;
  background-color: #140416 !important;
}
.learn:hover {
  /* background: linear-gradient(to left, #9847ff, #df31fa); */
  background: white !important;
  border-color: #9847ff;
  border: 1px solid #c239fb;
}
.frame1 {
  color: black;
  overflow: hidden;
  width: 50%;
}
.frame1 img {
  width: 100%;
  height: 90%;
}
.frame2 {
  color: black;
}

.frame2 img {
  height: 400px;
  width: 100%;
  padding: 30px 50px;
  margin-bottom: 50px;
}
#section-b,
#section-c {
  color: white;
  text-align: center;
}
#section-b p {
  font-size: 20px;
}

.Topic-b,
.Topic-c {
  border: 2px solid #c239fb;
  padding: 11px;
  border-radius: 10px;
  margin-bottom: 25px;
  display: inline-block;
}
#section-c {
  padding-bottom: 25px;
}

.community-header {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 55px;
}
.listing {
  text-align: center;
}
/* .listing ul {
  display: inline-block;
  text-align: left;
}
.listing p {
  font-size: 20px;
  padding-bottom: 15px;
} */
#section-c li {
  font-size: 18px;
  padding-bottom: 15px;
  list-style: none;
}
.discord {
  font-size: 18px;
  background: linear-gradient(to right, #9847ff, #df31fa);
  padding: 15px;
  border: none;
  border-radius: 12px;
  color: white;
  transition: 0.2 ease-in-out;
  margin-bottom: 25px;
  font-weight: 500;
}
.discord:hover {
  background: #fdfcfe;
  border-color: #9847ff;
  color: #c239fb;
  border: 1px solid #c239fb;
  box-shadow: 0.9px 0.8px #c239fb;
  padding: 20px;
}
@media only screen and (max-width: 650px) {
  #section-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
    gap: 40px;
  }
  .frame2 img {
    padding: 30px 20px;
  }

  #section-c li,
  #section-c p {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}